body{
margin:0;
font-family:Segoe UI;
background:#f2f6fb;
}

.app{
width:95%;
margin:auto;
}

.topBar{
display:flex;
justify-content:space-between;
align-items:center;
background:#1f4e79;
color:white;
padding:20px;
border-radius:10px;
margin-top:20px;
}

.topBar h1{
font-size:28px;
}

.ticketPanel,
.counterPanel{
background:white;
color:#1f4e79;
padding:10px 20px;
border-radius:10px;
text-align:center;
font-weight:bold;
}

#ticket,
#contador{
font-size:32px;
margin-top:5px;
}

.estadoPanel{
margin-top:30px;
background:white;
padding:40px;
border-radius:15px;
text-align:center;
box-shadow:0px 5px 15px rgba(0,0,0,0.1);
}

.estadoTitulo{
font-size:22px;
color:#555;
}

.estadoTexto{
font-size:48px;
color:#2c7be5;
font-weight:bold;
margin-top:10px;
}

.progressPanel{
margin-top:30px;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0px 5px 15px rgba(0,0,0,0.1);
}

.progressBar{
width:100%;
height:40px;
background:#e5e9f2;
border-radius:20px;
overflow:hidden;
margin-bottom:20px;
}

#progress{
height:100%;
width:0%;
background:#28c76f;
transition:width 1s;
}

.steps{
display:flex;
justify-content:space-between;
}

.step{
width:18%;
padding:10px;
background:#e5e9f2;
border-radius:10px;
text-align:center;
font-weight:bold;
}

.step.active{
background:#28c76f;
color:white;
}

.historialPanel{
margin-top:30px;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0px 5px 15px rgba(0,0,0,0.1);
}

.historialPanel h2{
margin-bottom:20px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:12px;
border-bottom:1px solid #ddd;
text-align:center;
}

th{
background:#f1f1f1;
}
.tunnelPanel{
margin-top:30px;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0px 5px 15px rgba(0,0,0,0.1);
text-align:center;
}

.tunnel{
position:relative;
height:120px;
background:#e9eef6;
border-radius:15px;
display:flex;
align-items:center;
justify-content:space-around;
overflow:hidden;
}

.stage{
width:120px;
height:80px;
background:#dbe4f3;
border-radius:10px;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
}

#car{
position:absolute;
left:10px;
font-size:40px;
transition:left 2s linear;
}